.birthdate-div {
    display: flex;
    justify-content: space-between;
    width: 93%;
}

label {
    color: #fff;
}

.birthdate-div input {
    width: 25%;
    background-color: #4150B7;
    color: #fff;
}

.birthdate-div input::placeholder {
    color: #fff;
    text-align: center;
}