p {
    color: #fff;
}

.header {
    background-color: #2A3EB9;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #fff;
}

.header h2 {
    color: #fff;
    font-size: 24px;
    margin-left: 5vw;
    cursor: pointer;
}

.mandatory-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-data {
    background-color: #2A3EB9;
    width: 100%;
}

.form-data .titulo-form {
    color: #fff;
    font-size: 24px;
    margin-left: 5vw;
    padding: 5vh 0;
}

.left-data {
    width: 50%;
    margin-left: 5vw;
}

.right-data {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.pics-row {
    display: flex;
    justify-content: space-between;
}

.optional-data {
    background-image: url('../assets/fundo_cadastro.png');
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.break-row {
    display: flex;
    align-items: center;
}

.break-row p {
    font-size: 24px;
    margin: 5% 0 5% 0;
}

.line {
    background-color: #fff;
    height: 5px;
    width: 40%;
    margin: 5%;
}

.last-step {
    width: 100%;
    display: flex;
    justify-content: center;
}

.create-account {
    width: 15vw;
    background-color: #fff;
    color: #2A3EB9;
    font-size: 24px;
    border-radius: 10px;
}

.create-account:active {
    transform: scale(1.05);
}

.optional-content {
    width: 90%;
    margin-bottom: 5%;
    margin-left: 5vw;
}

.optional-content button {
    width: 25vw;
    background-color: #2A3EB9;
    border: solid 1px #fff;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

.optional-content button:active {
    background-color: #4150B7;
    transform: scale(1.05);
}

.top-buttons {
    display: flex;
    justify-content: space-around;
}

.bottom-buttons {
    display: flex;
    justify-content: space-around;
}

.have-account {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.have-account a {
    color: #fff;
    cursor: pointer;
}

.have-account a:active {
    color: #2A3EB9;
}