body {
    margin: 0;
    padding: 0;
}

.div-footer {
    background-image: url("../assets/footer.png");
    width: 100vw;
    height: 45vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
}

.div-footer h4 {
    color: white;
    font-size: 30px;
}

.div-footer h2 {
    color: white;
}

.div-footer p {
    color: white;
    font-family: sans-serif;
}

.div-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-right: 50px;
}

.direita img {
    height: 3vh;
    margin: 0 0.3vh;
}


.esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    padding-right: 0;

}

.esquerda h2 {
    font-size: 1.6vw;
    margin: 2vw 2vw 1vh 0;
}

.esquerda p {
    font-size: 1.1vw;
    margin: 0 2vw 1vh 0;
}

.meio {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 45%;
    padding-right: 0;
    margin-left: 450px;

}

/* @ 2023 matchmaking.co */

.copyright {

    /* position: ; */
    display: flex;

    width: 13.7vw;
    height: 26px;
    padding-top: 260px;
    /* margin-right: 70px; */
    /* top: 3370px; */
    justify-content: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
}