/* section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
} */

.index-banner {
    background-color: #4150B7;
    width: 100%;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url('../assets/fundo.svg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.index-banner .btn-conectar {
    background-color: white;
    color: blue;
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
}

.index-banner h5 {
    font-size: 60px;
    color: white;

}

.about-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 106px 0 106px 0;
}

.mural-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 106px 0 106px 0;
}

.left {
    width: 504px;
    ;
}

.right {
    width: 504px;
}

.line {
    height: 5px;
    background-color: #2A3EB9;
    border-radius: 5px;
}

.about-text {
    padding-top: 54px;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 500;
    color: #575757;
}

.title {
    font-size: 64px;
    line-height: 60px;
    color: #181E29;
}

.left img {
    width: 400px;
}

.right img {
    width: 360px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}