body {
    overflow-x: hidden;
}

.sobre-banner {
    padding: 150px 0 100px 0;
    background-color: #4150B7;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url('../assets/fundo.png');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    color: white;
}

.sobre-info {
    width: 50%;
    padding: 50px;
    color: white;
}

.sobre-info h2 {
    font-size: 50px;
}


.sobre-banner h5 {
    font-size: 60px;
    color: white;

}

.sobre-secao2 {
    display: flex;
    flex-direction: column;
    color: black;

}

.sobre-secao2 h5 {
    font-size: 40px;
    padding-left: 50px;
}

.sobre-section {
    width: 100%;
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.div-jornada {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.div-parte1 {
    display: flex;
    padding: 50px;
}

.div-parte2 {
    display: flex;
    padding: 50px;
    justify-content: flex-end;
    text-align: right;
}

.div-info {
    display: flex;
    flex-direction: column;
}

.div-info p {
    color: #181E29;
    font-size: 24px;
}

.div-parte3 {
    display: flex;
    padding: 50px;
}

.sobre-secao3 {
    background-color: rgb(227, 227, 227);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}

.sobre-secao3 img {
    width: 100px;
}

.sobre-secao3 p {
    color: #181E29;
}

.missao,
.visao,
.valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;

}

.img-secao4 {
    width: 100%;
    padding-top: 80px;
    padding-left: 0;
    padding-bottom: 0;
}