@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Ubuntu&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Lalezar';
    font-weight: 500;
}

body{
    font-size: 16px;
}